$background_color_1: #de6342;
$background_color_2: #19a992;

body {
	background: #19a992;
}
h1{
  text-align: center;
}
.footer-text{
  text-align: center;
	display: block;
    margin: auto;
}


.detail-form{
	position:fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	opacity: 0;
	&:target{
 	 visibility: visible;
    opacity: 1;
 	 position: relative;
  }
}
.hidden-pane{
position:fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
visibility: hidden;
opacity: 0;
&:target{
 visibility: visible;
 opacity: 1;
 position: relative;
}
}
.clicker:active{
	visibility: hidden;
}

#zoo-graphic {
	display: block;
	margin: auto;
}
